<h1>Editing Item</h1>
<ul>
  <li>
    <%= @item.name %>
  </li>
  <li>
    <%= @item.description %>
  </li>
  <li>
    <%= @item.price %>
  </li>
</ul>
<%# render 'form' %>

<%= link_to 'Show' %> |
<%= link_to 'Back' %>
